@media all and (min-width: 480px) {
  .ResetPassword {
    padding: 60px 0;
  }

  .ResetPassword form {
    margin: 0 auto;
    max-width: 480px;
  }

  .ResetPassword .ok-sign{
    max-width: 400px;
  }
}

.ResetPassword .success {
  margin: 0 auto;
  text-align: center;
}
.ResetPassword .ok-sign .glyphicon {
  color: grey;
  font-size: 30px;
  margin-bottom: 30px;
}
